.review-info {
    display: flex;
    margin: 4rem
}

.review-info img {
    width: 24.7rem; 
    height: 33.7rem;

    margin-right: 2rem;
}

.review-info .main-info {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #7C7C7C;
}

.review-info .info-block + .info-block {
    margin-top: 3rem;
}

