section header {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 2.4rem;
    color: #7C7C7C;

    border-bottom: 1px solid #BCBCAC;

    padding: 2.4rem;
    margin: 0 1rem;
}

section .review-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding: 1rem 1.5rem;
    margin: 0 1rem;

    border-bottom: 1px solid #BCBCAC;
}

section .review-info img {
    margin-right: 1.5rem;
    
}

section .review-info .info-block  {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 1.8rem;
    color: #7C7C7C;

}

section .review-info .info-block+.info-block {
    margin-top: 1.8rem;
}

.search-block {
    margin-top: 4.5rem;
}

.search-block h1, label {
    font-size: 1.4rem;
    font-family: 'Lexend Tera', sans-serif;

    margin-bottom: 1.5rem;

}

.select-block select,
.input-block input{
    width: 100%;
    height: 4.6rem;

    border-radius: .5rem;

    background: #C4C4C4;

    font-size: 1.7rem;

    margin: .5rem 0 1.9rem 0;
}